language: c

matrix:
  include:
    - os: linux
      dist: xenial
      env: PYTHON=3.5  CONDA_PY=35
      sudo: true
      services:
        - xvfb
    - os: linux
      dist: xenial
      env: PYTHON=3.6  CONDA_PY=36
      sudo: true
      services:
        - xvfb
    - os: linux
      dist: xenial
      env: PYTHON=3.6 DOCS=true
      sudo: true
      services:
        - xvfb
    - os: linux
      dist: xenial
      env: PYTHON=3.7  CONDA_PY=37
      sudo: true
      services:
        - xvfb
    - os: osx
      env: PYTHON=3.5  CONDA_PY=35
      sudo: false
    - os: osx
      env: PYTHON=3.6  CONDA_PY=36
      sudo: false
    - os: osx
      env: PYTHON=3.7  CONDA_PY=37
      sudo: false

# command to install dependencies
install:
  - if [ ${TRAVIS_OS_NAME} == "osx" ]; then
        MINICONDA_OS="MacOSX";
    else
        MINICONDA_OS="Linux";
    fi
  - MINICONDA_URL="http://repo.continuum.io/miniconda"
  - MINICONDA_FILE="Miniconda3-latest-${MINICONDA_OS}-x86_64.sh"
  - wget "${MINICONDA_URL}/${MINICONDA_FILE}"
  - bash $MINICONDA_FILE -b -p $HOME/miniconda

  - export PATH=$HOME/miniconda/bin:$PATH

  - conda update --yes conda
  - conda install --yes pip
  - conda install --yes nbformat
  - ENVIRONMENT_FILE="requirements/conda-${PYTHON}.yml"
  - conda env create -f $ENVIRONMENT_FILE
  - source activate pymeasure
  - if [ -n "${DOCS}" ]; then
        conda install --yes sphinx sphinx_rtd_theme;
    fi
  - conda info -a

# command to run tests
script: 
  - python setup.py test
  - if [ -n "${DOCS}" ]; then
        cd docs;
        make doctest || travis_terminate 1;
        make html || travis_terminate 1;
    fi
