name: Pymeasure CI
on: 
  push:
    branches: 
      - master
  pull_request:

jobs:
  test:
    name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.6", "3.7", "3.8"]
    steps:    
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v1
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: requirements/pymeasure.yml
          activate-environment: pymeasure
      - name: Install CI dependencies
        shell: bash -l {0}
        run: conda install conda-build flake8
      - name: Conda info
        shell: bash -l {0}
        run: conda info
      - name: Conda list
        shell: bash -l {0}
        run: conda list
      - name: Install pymeasure
        shell: bash -l {0}
        run: conda develop .
      - name: Pytest with xvfb
        shell: bash -l {0}
        if: runner.os == 'Linux'
        run: xvfb-run -a pytest
      - name: Pytest 
        shell: bash -l {0}
        if: runner.os != 'Linux'
        run: pytest
      - name: Lint with flake8
        continue-on-error: true
        shell: bash -l {0}
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

