name: PyMeasure CI
on:
  push:
    branches:
      - master
      - develop
  pull_request:

jobs:
  docs_lint:
    name: Docs and Linting
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset the cache
        with:
          path: ~/conda_pkgs_dir
          key: py3.8-ubuntu-latest-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('requirements/*.yml') }}
      - name: Install pymeasure requirements
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "3.9"
          environment-file: requirements/pymeasure.yml
          activate-environment: pymeasure
          auto-update-conda: true
          use-only-tar-bz2: true  # for caching to work properly
      - name: Conda info & list
        run: |
          conda info
          conda list
      - name: Set up flake8 annotations
        uses: rbialon/flake8-annotations@v1
      - name: Lint with flake8
        run: |
          # Be sure to check for Python syntax errors or undefined names
          flake8 . --count --extend-select=E9,F63,F7,F82 --show-source --statistics
      - uses: ammaraskar/sphinx-problem-matcher@master
      - name: Generate docs
        if: always()  # run even if the previous step failed
        working-directory: ./docs
        run: |
          echo "::add-matcher::.github/sphinx.json"
          make html SPHINXOPTS="-W --keep-going"
      - name: Run doctests
        if: always()  # run even if the previous step failed
        working-directory: ./docs
        run: |
          echo "::add-matcher::.github/sphinx.json"
          make doctest SPHINXOPTS="-W --keep-going"
  test:
    name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        env:
          CACHE_NUMBER: 0  # Increase to reset the cache
        with:
          path: ~/conda_pkgs_dir
          key: py${{ matrix.python-version }}-${{ matrix.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('requirements/*.yml') }}
      - name: Install pymeasure requirements
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: requirements/pymeasure.yml
          activate-environment: pymeasure
          auto-update-conda: true
          use-only-tar-bz2: true  # for caching to work properly
      - name: Conda info & list
        run: |
          conda info
          conda list
      - name: Run pytest with xvfb
        if: runner.os == 'Linux'
        run: |
          echo "::add-matcher::.github/pytest.json"
          xvfb-run -a python setup.py test
      - name: Run pytest
        if: runner.os != 'Linux'
        run: |
          echo "::add-matcher::.github/pytest.json"
          python setup.py test
